@charset "utf-8";
/* CSS Document */
#mainApp{
	height: 600px;
	width: 1024px;
	overflow: auto scroll;
	overflow-y: scroll;
}
#appEnd{
	font-weight: bold;
	color:red;
	size:36px;
	display:inline-block;
}
