@charset "utf-8";
/* CSS Document */

#container{
	color:#3BE3FF;
}

.imgrow{
	color:#7A4041;
}

.img_con{
	color:#FD181B;
	height:320px;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow:hidden;
}

span{
	z-index: 1200;
}
