@charset "utf-8";
/* CSS Document */
#mainApp{
	overflow: auto scroll;
	height: 700px;
	max-width: 1024px;
	overflow-y: scroll;
	background: gray;
}
#appEnd{
	font-weight: bold;
	color:red;
	size:36px;
	display:inline-block;
}

.img_holder{
	border: 5px solid #FF1111;
}
